In [1]:
import pandas as pd 
from matplotlib import pyplot as plt
import numpy as np

In /home/sifat/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/sifat/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/sifat/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In /home/sifat/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/sifat/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/sifat/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/sifat/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/sifat/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
#distribution table of time between arrival

df_time_between_arrival = pd.DataFrame({'time_between_arival':[1,2,3,4],'probability':[.25,.40,.20,.15],'C_probability':[.25,.65,.85,1.00],'R1':[1,26,66,86],'R2':[25,65,85,0]})

df_time_between_arrival.head()

   time_between_arival  probability  C_probability  R1  R2
0                    1         0.25           0.25   1  25
1                    2         0.40           0.65  26  65
2                    3         0.20           0.85  66  85
3                    4         0.15           1.00  86   0

In [3]:
#service distribution table of Able

df_service_of_able = pd.DataFrame({'service_time':[2,3,4,5],'probability':[.30,.28,.25,.17],'C_probability':[.30,.58,.83,1.00],'R1':[1,31,59,84],'R2':[30,58,83,0]})

df_service_of_able.head()

   service_time  probability  C_probability  R1  R2
0             2         0.30           0.30   1  30
1             3         0.28           0.58  31  58
2             4         0.25           0.83  59  83
3             5         0.17           1.00  84   0

In [4]:
#service time distribution table of baker

df_service_of_baker = pd.DataFrame({'service_time':[3,4,5,6],'probability':[.35,.25,.20,.20],'C_probability':[.35,.60,.80,1.00],'R1':[1,36,61,81],'R2':[35,60,80,0]})

df_service_of_baker.head()

   service_time  probability  C_probability  R1  R2
0             3         0.35           0.35   1  35
1             4         0.25           0.60  36  60
2             5         0.20           0.80  61  80
3             6         0.20           1.00  81   0

In [5]:
#Now we will generate random 100 user arival time using uniform distribution 1-86
import random
from random import seed
from random import randint
seed(14)

random_list = []

number_of_users = 100
N = number_of_users

for _ in range(number_of_users-1):
    random_list.append(randint(0,99))
print(random_list[0:10])

[13, 78, 89, 96, 83, 67, 31, 34, 94, 32]

In [6]:
def get_time_between_arrival(data):
    result=[]
    for d in data:
        if d<=25 and d>=1:
            result.append(1)
        elif d<=65 and d>=26:
            result.append(2)
        elif d<=85 and d>=66:
            result.append(3)
        else:
            result.append(4)
    return result

time_bet_arrival = get_time_between_arrival(random_list)

print(time_bet_arrival[0:10])

[1, 3, 4, 4, 3, 3, 2, 2, 4, 2]

In [7]:
#clock time of arrival

clock_time_of_arrival = []

#assign 0 for first one
clock_time_of_arrival.append(0)

current_time = 0

for time in time_bet_arrival:
    clock_time_of_arrival.append(current_time+time)
    current_time = current_time+time

print(clock_time_of_arrival[0:10])

[0, 1, 4, 8, 12, 15, 18, 20, 22, 26]

In [8]:
print(len(clock_time_of_arrival))

100

In [9]:
def get_service_time_of_able(data):
    if data<=30 and data>=1:
        return 2
    elif data<=58 and data>=31:
        return 3
    elif data<=83 and data>=59:
        return 4
    else:
        return 5

In [10]:
def get_service_time_of_baker(data):
    if data<=35 and data>=1:
        return 3
    elif data<=60 and data>=36:
        return 4
    elif data<=80 and data>=61:
        return 5
    else:
        return 6

In [11]:
# generate random number for service time

random_list = []

number_of_users = 100

for _ in range(number_of_users):
    random_list.append(randint(0,99))
print(random_list[0:10])

[39, 62, 58, 55, 53, 76, 12, 32, 60, 50]

In [12]:
able_service_time_begins = [None for _ in range(number_of_users)]
able_service_time = [None for _ in range(number_of_users)]
able_service_time_ends = [None for _ in range(number_of_users)]

baker_service_time_begins = [None for _ in range(number_of_users)]
baker_service_time = [None for _ in range(number_of_users)]
baker_service_time_ends = [None for _ in range(number_of_users)]

able_server_busy = False
able_server_job_id = None
baker_server_busy = False
baker_server_job_id = None
System_clock = 0
qeue_line = [0 for _ in range(number_of_users)]
i=0

In [13]:
while number_of_users >0:
    
        if able_server_busy:
            if System_clock==able_service_time_ends[able_server_job_id]:
                able_server_busy = False
        if baker_server_busy:
            if System_clock==baker_service_time_ends[baker_server_job_id]:
                baker_server_busy = False
        if clock_time_of_arrival[i] <= System_clock:
            waiting_flag = i
            while (not(able_server_busy) or not(baker_server_busy)) and (clock_time_of_arrival[i] <= System_clock):
                if (not able_server_busy) and (not baker_server_busy):
                    able_server_busy = True
                    able_service_time_begins[i] = System_clock
                    able_service_time[i]=get_service_time_of_able(random_list[i])
                    able_service_time_ends[i] = able_service_time_begins[i] + able_service_time[i]
                    able_server_job_id = i
                    i+=1
                    number_of_users-=1
                elif not(able_server_busy):
                    able_server_busy = True
                    able_service_time_begins[i] = System_clock
                    able_service_time[i]=get_service_time_of_able(random_list[i])
                    able_service_time_ends[i] = able_service_time_begins[i] + able_service_time[i]
                    able_server_job_id = i
                    i+=1
                    number_of_users-=1
                elif not(baker_server_busy):
                    baker_server_busy = True
                    baker_service_time_begins[i] = System_clock
                    baker_service_time[i]=get_service_time_of_baker(random_list[i])
                    baker_service_time_ends[i] = baker_service_time_begins[i] + baker_service_time[i]
                    baker_server_job_id = i
                    i+=1
                    number_of_users-=1
            if waiting_flag == i:
                qeue_line[i]+=1
        System_clock+=1
    #print(System_clock)

In [14]:
print(able_service_time_begins)

[0, None, 4, 8, 12, 15, None, 20, None, 26, None, 30, 34, None, 38, 40, None, 44, 48, None, 53, None, 57, 59, None, 64, None, 67, None, 72, None, 78, None, 82, None, 86, None, 91, None, 93, 97, None, None, 101, None, 104, 106, None, 109, 111, None, 116, None, 121, None, 125, 129, None, 133, 136, None, 142, None, 147, None, 150, None, 154, 158, None, 161, None, 166, None, 170, None, 175, 177, None, 181, None, 186, 188, None, 192, 194, None, 197, 200, None, 203, None, 207, None, 212, None, 216, 218, None, 221]

In [15]:
print(qeue_line)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 1, 0, 2, 1, 2, 1, 0, 2, 1, 0, 1, 2, 0, 2, 0, 2, 1, 2, 0, 2, 1, 0, 1]

In [16]:
print(able_service_time_ends)

[3, None, 7, 11, 15, 19, None, 23, None, 29, None, 33, 38, None, 40, 44, None, 48, 53, None, 57, None, 59, 64, None, 67, None, 70, None, 76, None, 82, None, 85, None, 90, None, 93, None, 97, 101, None, None, 104, None, 106, 108, None, 111, 116, None, 120, None, 125, None, 128, 131, None, 135, 141, None, 147, None, 150, None, 153, None, 157, 160, None, 166, None, 169, None, 175, None, 177, 181, None, 186, None, 188, 192, None, 194, 197, None, 200, 203, None, 207, None, 212, None, 216, None, 218, 221, None, 224]

In [17]:
Final_DF = pd.DataFrame({'Arrival_Time': clock_time_of_arrival,
                         'Random_Digit_For_Service': random_list,'Able_service_time_begins': able_service_time_begins,
                        'Able_service_time': able_service_time,'Able_service_time_ends': able_service_time_ends,
                        'Baker_service_time_begins': baker_service_time_begins,
                        'Baker_service_time': baker_service_time,'Baker_service_time_ends': baker_service_time_ends,
                        'Qeue': qeue_line})

In [18]:
Final_DF.head()

,Arrival_Time,Random_Digit_For_Service,Able_service_time_begins,Able_service_time,Able_service_time_ends,Baker_service_time_begins,Baker_service_time,Baker_service_time_ends,Qeue
0,0,39,0.0,3.0,3.0,NaN,NaN,NaN,0
1,1,62,NaN,NaN,NaN,1.0,5.0,6.0,0
2,4,58,4.0,3.0,7.0,NaN,NaN,NaN,0
3,8,55,8.0,3.0,11.0,NaN,NaN,NaN,0
4,12,53,12.0,3.0,15.0,NaN,NaN,NaN,0

In [19]:
print("Probability Of Idle Server :",sum(qeue_line)/System_clock)
print("AVG time of Idle Server :",sum(qeue_line)/)

SyntaxError: invalid syntax (<ipython-input-19-86212f7ca617>, line 2)